.callback-container {
  width: 100%;
  max-width: 1110px;
  height: 58vh;
  margin: 30px auto;
  margin-left: 130px;
  display: flex;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.2);
}

.callback-left img {
  width: 92.5%;
  height: 100%;
  object-fit: fill;
}

.callback-left {
  flex: 1;
}

.callback-right {
  flex: 1;
  padding: 20px;
  position: relative;
  left: -10px;
  display: flex;
  flex-direction: column;
  gap: 19px;
  font-family: "Playfair Display",serif;
}

.callback-right h2 {
  font-size: 35px;
  margin-bottom: 10px;
  font-weight: 500;
  color: #000;
}

.input-group input {
  width: 100%;
  padding: 20px;
  border-radius: 2px;
  border: none;
  background: #f5f5f5;
  font-size: 14px;
  font-family: "Segoe UI", sans-serif;
}

.phone-group {
  display: flex;
  gap: 10px;
}

.phone-group select,
.phone-group input {
  padding: 20px;
  border-radius: 2px;
  border: none;
  background: #f5f5f5;
  font-size: 18px;
  font-family: "Segoe UI", sans-serif;
}

.phone-group select {
  width: 100px;
}

.phone-group input {
  flex: 1;
  font-size: 13px;
}

.submit-btn {
  padding: 18px 40px;
  border: none;
  background: linear-gradient(90deg, #d5a4e8, #f5c3b8);
  color: #fff;
  font-weight: 500;
  font-size: 19px;
  border-radius: 8px;
  font-family: "Segoe UI", sans-serif;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
  display: block; 
  margin-left: 0;  /* Ensures left alignment */
  align-self: flex-start;

}


.submit-btn:hover {
  opacity: 0.8;
}

/* Responsive */
@media (max-width:1100px) {
  .callback-container {
    position: relative;
    left: -115px;
    max-width: 800px;
    flex-direction: column;
    height: auto;
  }
  
.callback-right h2 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 500;
}

 .callback-left img {
    width: 94%;
    height: 65vh;
    object-fit: cover;
    object-position: top;
}

}
@media (max-width:500px) {
  .callback-container {
    position: relative;
    flex-direction: column;
    left: -120px;
    width: 94%;
    height: auto;
  }

  .callback-left img {
    height: 350px;
  }
}
@media (max-width:768px) {
  .callback-container {
    position: relative;
    flex-direction: column;
    left: -113px;
    width: 95.5%;
    height: auto;
  }

  .callback-left img {
    height: 350px;
  }
}
@media (max-width:320px){
  .callback-container {
    position: relative;
    flex-direction: column;
    left: -120px;
    max-width: 370px;
    height: auto;
  }
  .callback-left img{
    width: 94%;
    height: auto;
  }
}

