/* ================= COMMON ================= */
.section-heading {
  color: #9b0fab;
  font-size: 20px;
  font-weight: 600;
}

.align {
  max-width: 70%;
}

.container {
  padding-left: 30px;
  padding-right: 30px;
}

/* ================= CARDS ================= */
.destinationn-card {
  position: relative;
  width: 350px;
  height: 430px;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 25px;
  transition: transform 0.3s ease;
}

.destinationn-card:hover {
  transform: scale(1.02);
}

.destinationn-img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45%;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), transparent);
}

.destinationn-title {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #fff;
  font-family: "Playfair Display", serif;
  margin: 0;
}

/* ================= VOYAGE SECTION ================= */
.voy-section {
  padding: 90px 20px 50px;
}

.voy-title {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 15px;
  color: #000;
  font-family: "Playfair Display", serif;
  max-width: 500px;
}

.voy-description {
  font-size: 17px;
  line-height: 1.6;
  color: #444;
  max-width: 750px;
}

/* ================= LAPTOP ================= */
@media (max-width: 1000px) {
  .destinationn-card {
    width: 260px;
    height: 340px;
  }

  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .voy-title {
    font-size: 30px;
  }

  .voy-description {
    font-size: 15px;
  }
}

/* ================= TABLET ================= */
@media (max-width: 768px) {
  .container{
    position: relative;
    left: -18px;
  }
  .destinationn-card {
    width: 230px;
    height: 330px;
    margin: auto;
  }

  .voy-title {
    font-size: 26px;
  }

  .voy-description {
    font-size: 14px;
    max-width: 100%;
  }
}

/* ================= MOBILE ================= */
@media (max-width: 500px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .destinationn-card {
    width: 100%;
    height: 360px;
  }

  .voy-title {
    max-width: 300;
    font-size: 24px;
  }

  .voy-description {
    font-size: 14px;
  
  }
}
