.carousel-slidee {
  position: static;
  width: 100%;
  height: 89vh;
  background-size: cover;
  background-position: center;
  transition: transform 1s ease-in-out;
  z-index: 1;
}

.sky-wrapper {
  position: relative;
  width: 100%;
}

/* Fixed Carousel */
.carousel-fixed {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

/* Overlay Content */
.itinerary-overlay {
  position: relative;
  z-index: -1;
  background: #fff;
  padding-top: 10px;
  padding-bottom: 50px;
}
