.carousel-slidee {
  position: sticky;
  width: 100%;
  height: 83.5vh;
  background-size: cover;
  background-position: center;
  transition: transform 1s ease-in-out;
  z-index: 1;
}

/* HIDE INDICATORS */
.custom-indicators .carousel-indicators button {
  display: none;
}
