.carousel-slidee {
  position: static;
  width: 100%;
  height: 83.5vh;
  background-size: cover;
  background-position: center;
  transition: transform 1s ease-in-out;
  z-index: 1;
}

.sky-wrapper {
  position: relative;
  width: 100%;
}

/* Fixed Carousel */
.carousel-fixed {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 0;
}

/* Overlay Content */
.overlay-bac {
  position: relative;
  z-index: 0;
  background: #fff;
  padding-top: 10px;
}

@media (max-width:500px) {
  .carousel-slidee{
    height: 25vh;
  }
}

@media (max-width:768px) {
  .carousel-slidee{
    height:59vh;
  }
}