.contact-wrapper {
  padding: 0px;
}

.contact-card {
  background: #fff;
  border-radius: 12px;
  padding: 30px 40px 40px;
  max-width: 1100px;
  margin: auto;
  box-shadow: 0 0 20px rgba(153, 153, 148, 0.22);

}

.form-row {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 8px;
}

.form-group input,
.form-group select {
  height: 55px;
  border: 1px solid #eee;
  box-shadow: 0 0 20px rgba(153, 153, 148, 0.22);
  border-radius: 4px;
  padding: 0px 15px;
  font-size: 14px;
  outline: none;
}

.form-group input::placeholder {
  color: #aaa;
}

.phone-input {
  display: flex;
}

.phone-input select {
  width: 80px;
  border-right: none;
  border-radius: 8px 0 0 8px;
}

.phone-input input {
  flex: 1;
  border-radius: 0 8px 8px 0;
}

.submit-btn {
  display: block;
  margin: auto;
  padding: 15px 25px;
  border-radius: 6px;
  border: none;
  font-size: 17px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  background-image: linear-gradient(
    99.72deg,
    rgb(146, 39, 143) -17.25%,
    rgb(234, 114, 91) 105.93%
  );
  transition: 0.3s ease;
}

.submit-btn:hover {
  opacity: 0.9;
}

/* Responsive */
@media (max-width: 768px) {
  .form-row {
    flex-direction: column;
  }
}
