@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');

.fleet-section {
  text-align: center;
  padding: 50px 20px;
  max-width: 1050px;
  margin: auto;
  padding-top: 70px;
}

.fleet-title {
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 0.1px;
  margin-bottom: 20px;
  color: #000;
  font-family: "Playfair Display",serif;
}

.fleet-description {
  font-size: 18.5px;
  line-height: 1.7;
  font-weight:450;
  letter-spacing: 0px;
  word-spacing: 1px;
  color: #131212;
  max-width: 1100px;
  margin: auto;
  font-family: "Segoe UI", sans-serif;
}

@media (max-width:1000px) {
  .fleet-description{
    line-height: 1.4;
    font-size: 14.5px;
    font-weight: 400;
    color: #333;
  }
  .fleet-title {
  font-size: 25px;
  font-weight: 400;
  }
  .fleet-section{
    padding-top: 50px;
  }

}
