.checkin-page {
  font-family: "Inter", sans-serif;
  padding:120px 80px;
  background: #ffffff;
}
.back-arrow{
  width: 28px;
}
/* Header */
.checkin-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  left: 80px;
}

/* Layout */
.checkin-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 80px;
  font-size: 20px;
}

/* Form */
.checkin-form {
  width: 390px;
}

.checkin-form input {
  width: 100%;
  padding: 16px 15px;
  margin-bottom: 18px;
  border-radius: 6px;
  border: none;
  background: #f5f5f5;
  font-size: 16px;
}

.checkin-form button {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  background: linear-gradient(90deg, #c77bcf, #f2a5a5);
}

/* Notes */
.checkin-notes {
  max-width: 510px;
}

.checkin-notes h3 {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
}

.checkin-notes ul {
  padding-left: 18px;
}

.checkin-notes li {
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 1.6;
}

/* Responsive */
@media (max-width: 768px) {
  .checkin-page {
    padding: px;
  }

  .checkin-container {
    flex-direction: column;
    gap: 40px;
  }

  .checkin-form {
    width: 100%;
  }
}
