.cabin-header {
  position: sticky;
  top: 0px;
  width: 100%;
  height: 55px;
  background: linear-gradient(90deg, #c34c7c, #dd6a63);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 135px;
  font-family: "Inter", sans-serif;
  color: white;
  z-index: 1000;
}

/* LEFT */
.cabin-left {
  display: flex;
  align-items: center;
  gap: 13px;
}

.cabin-logo {
  height: 32px;
  object-fit: contain;
}

.divider {
  width: 1px;
  height: 28px;
  background: rgba(255, 255, 255, 0.6);
}

.left-arrow{
  height: 18px;
  cursor: pointer;
}

.back-icon {
  font-size: 15px;
  cursor: pointer;
}

.cabin-title {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

/* RIGHT */
.cabin-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 500;
}


/* RESPONSIVE */
@media (max-width: 768px) {
  .cabin-header {
    padding: 0 20px;
  }

  .cabin-title {
    font-size: 16px;
  }

  .cabin-right {
    display: none; /* hide contact on mobile */
  }
}

/* ================= STEP PROGRESS ================= */

.step-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0px;
}

.step-line {
  position: absolute;
  top: 41px;
  left: 12%;
  width: 75%;
  height: 3px;
  background: #dcdcdc;
  z-index: 0;
}

.step-item {
  position: relative;
  text-align: center;
  z-index: 1;
  width: 26%;
}

.step-circle {
  width: 31px;
  height: 31px;
  border-radius: 50%;
  background: #9ca3af;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 10px;
  font-size: 14px;
  font-weight: 600;
  transition: 0.3s ease;
}

.step-circle.active {
  background: #0f9d58;
}

.step-circle.completed {
  background: #0f9d58;
}

.step-label {
  font-size: 16px;
  font-weight: 500;
  color: #111;
}

.step-circle.active {
  background: #0a8f3c;
  position: relative;
}

.step-circle.active::after {
  content: "";
  width: 6px;
  height: 6px;
  background: #ffffff;
  border-radius: 50%;
  position: absolute;
}
