.bookings-wrapper {
  font-family: "Inter", sans-serif;
}

.bookings-banner {
  width: 100%;
  height: 44vh;
  background-image: url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bookings-banner h1 {
  color: white;
  font-size: 24px;
  position: relative;
  top: 35px;
  font-weight: bold;
  text-shadow: 0 3px 6px rgba(0,0,0,0.4);
}

.bookings-tabs {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}

.bookings-tabs button {
  color: #555;
  padding: 11.5px 33px;
  border: none;
  border-radius: 2px;
  background: #f2f2f2;
  font-size: 14px;

  cursor: pointer;
  transition: 0.3s;
}

.bookings-tabs button.active {
  background-image: linear-gradient(
      99.72deg,
      rgb(146, 39, 143) -17.25%,
      rgb(234, 114, 91) 105.93%
    );
  color: white;
  font-weight: 500;
}

.bookings-content {
  text-align:left;
  margin-top: 40px;
  font-size: 18px;
  color: #555;
  margin-left: 126px;
  font-weight: 500;
  margin-bottom: 35px;
}
