/* ===== HERO ===== */
.hero {
   position: relative;
  width: 100%;
  height: 79vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sea-wrapper{
  padding: 60px 0px;
}

/* ===== BACKGROUND ===== */
.hero-bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

/* ===== DARK OVERLAY BOX ===== */
.hero-overlay {
  position: relative;
  z-index: 2;
  width: 62%;
  max-width: 1500px;
  height:72%;
  margin: auto;
  background: rgba(24, 22, 22, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ===== INNER PURPLE BORDER ===== */
.hero-inner-border {
  width: 95%;
  padding: 67px 20px;
  text-align: center;
  border: 4px solid #962f86;
}

/* ===== TEXT ===== */
.hero-inner-border h1 {
  font-family: "Playfair Display", serif;
  font-size: 36px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 18px;
}

.hero-inner-border p {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 32px;
}

/* ===== BUTTON ===== */
.hero-btn {
  padding: 16px 34px;
  font-size: 16px;
  font-family: 'Inter',sans-serif;
  font-weight: 500;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;

  background: linear-gradient(90deg, #9b2c92, #f06b63);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.hero-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.45);
}

/* ===== RESPONSIVE ===== */
@media (max-width: 768px) {
  .hero-overlay {
    width: 92%;
  }

  .hero-inner-border {
    padding: 50px 20px;
  }

  .hero-inner-border h1 {
    font-size: 30px;
  }
}
