.safety-container {
  text-align: center;
  padding: 60px 0px;
  height:51vh;
  background: rgb(248, 245, 245);
  margin-top: 110px;
}

.safety-title {
  font-size: 35px;
  padding-left: 120px;
  font-weight: 500;
  margin-bottom: 25px;
  font-family: 'Playfair Display',serif;
  color: #222;
  text-align: left;
}

.safety-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1050px;
  margin-left: 80px;
  flex-wrap: wrap;
  
}

.safety-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 250px;
}

.safety-icon {
  width: 100px;
  height: auto;
}

.safety-text {
  font-size: 18px;
  font-weight: 500;
  font-family: "Playfair Display",serif;
  color: #000;
  text-align: left;
  display: flex;
  width: 180px;
}
