.itinerary-container {
  padding: 40px 0;
  width: 80%;
  margin: 0 auto;
  z-index:50;
}

/* HEADER */
.itinerary-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.itinerary-title {
  font-size: 32px;
  font-weight: 600;
  font-family: "Playfair Display", serif;
}

.itinerary-filter {
  font-size: 17px;
  color: #a32aa8;
  font-weight: 500;
}

/* BUTTON */
.view-all-btn {
  background: linear-gradient(100deg, #9b309c, #e04c63);
  color: #fff;
  border: none;
  padding: 12px 24px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
}

/* SLIDE */
.slide-cardd {
  padding: 0;
}

/* IMAGE WRAPPER */
.image-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}

/* IMAGE */
.slick-imgg {
  width: 100%;
  height: 420px;
  object-fit: cover;
  border-radius: 12px;
  transition: transform 0.4s ease;
}

/* GRADIENT */
.image-wrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    rgba(0,0,0,0.9) 15%,
    rgba(0,0,0,0.4) 30%,
    transparent 75%
  );
}

/* OVERLAY CONTENT */
.card-overlay {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 85%;
  color: #fff;
  z-index: 2;
}

/* DATE BADGE */
.date-badge {
  display: inline-block;
  background: linear-gradient(90deg, #9b309c, #e04c63);
  padding: 2px 15px;
  border-radius: 999px;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 10px;
}

/* TITLE */
.card-title {
  font-family: "Playfair Display", serif;
  font-size: 17px;
  line-height: 1.4;
  margin: 0;
}

/* HOVER */
.image-wrapper:hover .slick-imgg {
  transform: scale(1.05);
}

/* ARROWS */
.slick-prev { left: -40px;}
.slick-next { right: -40px; }

/* RESPONSIVE */
@media (max-width: 1000px) {
  .slick-prev, .slick-next { display: none; }
}

@media (max-width: 768px) {
  .itinerary-container { width: 95%; }
  .slick-imgg { height: 240px; }
}
/* Tablet view */
@media (max-width: 992px) {
  .itinerary-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }

  .view-all-btn {
    align-self: flex-start;
  }
}
 