.featured-news {
  padding: 60px 125px 90px;
  background: #fff;
  font-family: "Inter", sans-serif;
}

.section-title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 40px;
  font-family: "Playfair Display", serif;
}

/* GRID */
.news-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
}

/* CARD */
.news-card {
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease;
}

.news-card:hover {
  transform: translateY(-5px);
}

.news-card img {
  width: 100%;
  height: 240px;
  object-fit: cover;
}

/* CONTENT */
.news-content {
  padding: 15px 15px 30px;
}

.meta {
  font-size: 16px;
  color: #ff4f5a;
  font-weight: 500;
  display: inline-block;
  margin-bottom: 16px;
}

.meta .date {
  font-size: 16px;
  color: #8a8a8a;
  font-weight: 400;
}

.news-content h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 12px;
  line-height: 1.4;
  color: #000;
}

.news-content p {
  font-size: 16px;
  line-height: 1.6;
  color: #666;
  margin-bottom: 20px;
}

/* LINK */
.read-more {
  font-size: 16px;
  color: #b400a6;
  font-weight: 600;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 6px;
}
.btn-wrapper {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}

.view-more-btn {
  padding: 14px 25px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background: linear-gradient(
    90deg,
    #a8329d,
    #f06b5f
  );
  transition: all 0.3s ease;
} 

.read-more span {
  transition: transform 0.3s ease;
}

.read-more:hover span {
  transform: translateX(4px);
}

/* RESPONSIVE */
@media (max-width: 1024px) {
  .featured-news {
    padding: 20px 10px;
  }
  .section-title{
    font-size: 25px;
  }

  .news-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .news-grid {
    grid-template-columns: 1fr;
  }
}
