.cruise-admin-layout{
display:flex;
min-height:100vh;
font-family:"Inter",sans-serif;
}

/* SIDEBAR */

.cruise-admin-logo{
font-size:25px;
padding:0px 0px 20px;
font-weight:bold;
}

.cruise-sidebar{
width:260px;
background:linear-gradient(180deg,#ff4da6,#b266ff);
color:white;
padding:25px;
display:flex;
flex-direction:column;
}

.cruise-logo{
margin-bottom:30px;
font-weight:600;
}

.cruise-menu{
color:white;
text-decoration:none;
margin-bottom:18px;
display:flex;
align-items:center;
gap:10px;
font-size:15px;
transition:0.3s;
}

.cruise-menu:hover{
transform:translateX(5px);
opacity:0.9;
}

.cruise-logout-btn{
margin-top:auto;
background:white;
border:none;
padding:10px;
border-radius:6px;
cursor:pointer;
font-weight:500;
}

/* MAIN CONTENT */

.cruise-main-content{
flex:1;
background:#faf6ff;
display:flex;
flex-direction:column;
}

/* TOPBAR */

.cruise-topbar{
height:70px;
background:linear-gradient(90deg,#b266ff,#ff4da6);
display:flex;
align-items:center;
justify-content:space-around;
padding:0 30px;
color:white;
box-shadow:0 4px 12px rgba(0,0,0,0.1);
}

/* SEARCH BOX */

.cruise-search-box{
display:flex;
align-items:center;
gap:10px;
background:rgba(255,255,255,0.2);
padding:8px 14px;
border-radius:8px;
width:80%;
}

.cruise-search-box input{
border:none;
outline:none;
background:transparent;
color:white;
width:100%;
font-size:14px;
}

.cruise-search-box input::placeholder{
color:#f3f3f3;
}

/* RIGHT SIDE */

.cruise-topbar-right{
display:flex;
align-items:center;
gap:25px;
}

/* ICON */

.cruise-bell-icon{
font-size:20px;
cursor:pointer;
color:white;
}

/* PROFILE */

.cruise-profile{
display:flex;
align-items:center;
gap:8px;
font-weight:500;
cursor:pointer;
}

/* PAGE CONTENT */

.cruise-page-content{
padding:30px;
}