/* ---------------------- GLOBAL ---------------------- */
body {
  font-family: 'Open Sans', sans-serif;
}

.header {
  background: transparent !important;
  position: absolute;
  width: 100%;
  z-index: 10000;
}

.nav-links .nav-link,
.dropdown-title:hover {
  color: #ffffff !important;
  font-weight: 500;
}

/* Default navbar state – transparent */
.navbar-top {
  background: transparent !important;
  transition: all 0.3s ease-in-out;
  padding: 14px 0;
  box-shadow: none;
}

.navbar-scrolled {
  background: #ffffff !important;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}

.navbar-scrolled .logo {
  width: 220px;
  height: 54px;
}



.navbar-top .nav-links a,
.navbar-top .dropdown-title,
.navbar-top .login-link {
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.navbar-scrolled .nav-links a,
.navbar-scrolled .dropdown-title,
.navbar-scrolled .login-link {
  color: #000 !important;
}

.navbar-scrolled .login-link {
  color: #92278F !important;
}

.navbar-scrolled .web-checkin-btn {
  border: 2px solid transparent !important;
  border-radius: 6px !important;
  padding: 9px 14px;
  background:
      linear-gradient(white, white) padding-box,
      linear-gradient(90deg, #92278F, #EA725B) border-box;
  color: #92278F !important;
}

.navbar-scrolled .find-cruise-btn {
  border-radius: 6px;
  padding: 11px 17px;
}

.navbar-scrolled .submenu-panel .dropdown-item:hover {
  color: #92278F !important;
}

/* ---------------------- LOGO ---------------------- */
.logo {
  margin-left: 56px;
  width: 220px;
  height: 54px;
}
/* --------------------- NAV LINKS --------------------- */
.nav-links .nav-link {
  color: rgb(0 0 0 / var(--tw-text-opacity));
  font-weight: 500;
  font-size: 14px;
  margin-left: -28px;
}

.dropdown-title {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* -------- Dropdown Icon Rotation -------- */
.dropdown-icon {
  transition: transform 0.25s ease-in-out;
  display: block;
  margin-top: 5px;
}

/* When NavDropdown is open */
.dropdown.show .dropdown-icon {
  transform: rotate(180deg);
}

/* When hovering on desktop */
.navbar-nav .dropdown:hover .dropdown-icon {
  transform: rotate(180deg);
}

/* Remove default bootstrap arrow */
.navbar-nav .dropdown-toggle::after {
  display: none !important;
}

.navbar-nav .dropdown:hover .dropdown-menu,
.navbar-nav .dropdown.show .dropdown-menu {
  display: block;
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  border-radius: 1px;
}

/* -------- Dropdown Menu (Main Panel) -------- */
.dropdown-menu {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 1px;
  font-size: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background: #fff;
  padding: 0;
  align-items: center;
}

/* -------- Dropdown Items -------- */
.navbar-scrolled .dropdown-menu .dropdown-item {
  font-size: 14.5px;
  font-weight: 400;
  color: #000;
  padding: 6px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-menu .dropdown-item {
  font-size: 14.4px;
  font-weight: 500;
  color: #000;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-menu .dropdown-item {
  font-weight: 400;
  border-bottom: 1px solid #eaeaea;
  border-radius: 1px;
}

/* Violet Hover for ALL dropdown items */
.dropdown-menu .dropdown-item:hover,
.submenu-panel .dropdown-item:hover {
  color: #92278F !important;
  background: #f6f6f6;
}

/* -------- Submenu Arrow -------- */
.dropdown-menu .submenu-arrow {
  font-size: 14px;
  opacity: 0.7;
}

.dropdown-submenu {
  position: relative;
}

/* Submenu Panel */
.submenu-panel {
  position: absolute;
  left: 100%;
  top: 0;
  min-width: 150px;
  background: #fff;
  border: 1.8px solid rgba(58, 51, 51, 0.1);
  border-radius: 2px;
  padding: 0;
  display: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Show Submenu on Hover */
.dropdown-submenu:hover .submenu-panel {
  display: block;
}

/* Submenu Item Style */
.submenu-panel .dropdown-item {
  font-size: 14px;
  font-weight: 400;
  padding: 5px 10px;
  display: block;
}

/* Violet Hover for Submenu */
.submenu-panel .dropdown-item:hover {
  color: #92278F !important;
}
  
.find-cruise-btn {
  background-image: linear-gradient(99.72deg, rgb(146, 39, 143) -17.25%, rgb(234, 114, 91) 105.93%);
  border: none;
  border-radius: 6px;
  font-size: 14.5px;
  padding: 11px 17px;
  font-weight: 500;
  border-radius: 4px;
  color: #fff;
  transition: transform 0.2s ease;
}

.web-checkin-btn {
  border: 1.5px solid #fff !important;
  border-radius: 6px;
  color: #fff !important;
  font-size: 15px;
  font-weight: 500;
  padding: 9.5px 15px;
  margin-right: 28px;
  border-radius: 4px;
  background-color: transparent !important;
}

/* Login/Register */
.login-link {
  color: #fff !important;
  text-decoration: none;
  font-size: 14.5px;
  letter-spacing: 0.2px;
  margin-left: -20px;
  font-weight: 500;
  
}

/* ---------------- CUSTOM HAMBURGER TOGGLE ---------------- */
.custom-hamburger {
  width: 26px;
  height: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.custom-hamburger span {
  display: block;
  height: 3px;
  width: 100%;
  border-radius: 20px;
  background: linear-gradient(90deg, #92278F, #EA725B);
}

.custom-toggle,
.custom-toggle:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

/* ✅ Hide these by default (desktop only) */
.tablet-only {
  display: none;
}

/* ============================================================= */
/* ✅ Tablet & Mobile View                                       */
/* ============================================================= */
@media (max-width: 1000px) {
  .nav-links,
  .desktop-only {
    display: none !important;
  }

  .tablet-only {
    display: flex !important;
  }
  .find-cruise-btn{
    display: none;
  }
}

@media (max-width: 1200px) {
  .nav-links,
  .desktop-only {
    display: none !important;
  }

  .tablet-only {
    display: flex !important;
  }
  .find-cruise-btn{
    display: none;
  }
  
  .find-cruise-btn {
    display: block;
    justify-content: end;
    background: transparent;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    padding: 6px 10px;
    border: 0.8px solid #fff;

    /* Text gradient */
    background-clip: padding-box;
    -webkit-background-clip: text;
  }
  .navbar-scrolled .logo {
      height: 46px;
      margin-left: 5px;
      margin-top: 8px;
  }
  .navbar-scrolled .find-cruise-btn {
    display: block;
    color: #8e2564;
    padding: 6px 10px;
    border: 0.8px solid #8e2564;
    margin-right: 10px !important;
  }
  .navbar-scrolled .custom-hamburger span{
    background: linear-gradient(90deg, #92278F);
    margin-left:-20px !important;
  }
  .navbar-scrolled .logo{
      margin-left: 0px;
      width: 190px;
  }
  .logo{
      margin-left: 0px;
      width: 190px;

  }
  .custom-hamburger span {
      margin-left:-20px !important;
      margin-top:-2px !important;
}
}

/* Hamburger Lines */
.custom-hamburger span {
  background: white;
  display: block;
  width: 16px;
  height: 2px;
  margin-bottom: 4px;
  margin-left: 10px;
  position: relative;
  left: 22px;
  top:3px;
}

/* --------------- MOBILE OFFCANVAS MENU --------------- */
.mobile-offcanvas {
  width: 330px !important;
  background: #fff;
  padding: 0;
}

.offcanvas-header-custom {
  padding: 15px 20px;
  border-bottom: 1px solid #eeeeee;
}

.mobile-nav-links {
  margin-top: 10px;
}

.mobile-item {
  padding: 14px 20px;
  border-bottom: 1px solid #ececec;
  display: flex;  

}

@media (max-width:500px){
  
  .navbar-scrolled .find-cruise-btn{
    background-color: transparent;
    position: relative;
    left:0px;
    padding: 4.5px 8px;
    font-size: 14.5px;
    left: 25px;
    margin-top: 1px;
  }

  .navbar-scrolled .logo{
    width: 105px;
    position: relative;
    left: 10px;

  }
  .navbar-scrolled .header{
    margin-top: -8px;
  }
  .find-cruise-btn{
    background-color: transparent;
    position: relative;
    left:0px;
    padding: 4.5px 8px;
    font-size: 14.5px;
    left: 25px;
    margin-top: 1px;
  }

  .logo{
    width: 105px;
    margin-left: 10px;
  }
  .header{
    margin-top: -8px;
  }
  .navbar-scrolled .find-cruise-btn{
    top:0;

  }

  .navbar-scrolled .custom-hamburger span {
    position: relative;
    left: 40px;
    top: 4px;
  }
  .custom-hamburger span {
    position: relative;
    left: 40px;
    top: 2px;
  
}
}
.mobile-offcanvas.offcanvas-end {
  width: 470px !important;
  max-width: 470px !important;
}

/* -------------------------------------- */
/* MOBILE OFFCANVAS WRAPPER */
/* -------------------------------------- */
.mobile-offcanvas .offcanvas-header {
  border-bottom: 1px solid #f1eef5;
  padding: 20px 60px;
  z-index: 10000;
}

.mobile-offcanvas .offcanvas-header .logo {
  width: 120px;
  height: auto;
  position: relative;
  left: -30px;
}

.mobile-item {
  padding: 15px 40px;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  color: #0f0e0e;
  border-bottom: 1px solid #f3f0f7;
  cursor: pointer;
}

.mobile-item:hover {
  background: #faf7ff;
}

.mobile-item i,
.mobile-item svg {
  color: #8d2bc9; /* Cordelia theme purple */
  font-size: 16px;
}

/* Dropdown arrow/right icon */
.mobile-item svg {
  width: 14px;
  height: 15px;
}

/* Align right arrow to the end */
.mobile-item.justify-content-between {
  justify-content: space-between !important;
}

/* -------------------------------------- */
/* APP BOX */
/* -------------------------------------- */
.app-box {
  background: #f8f5fb;
  border: 1px solid #eee5f7;
  padding: 0px 18px;
  margin: 20px;
  border-radius: 8px;
}

.app-box h6 {
  color: #3c1769;
  font-size: 14px;
  margin-bottom: 4px;
}

.app-box p {
  color: #4d4d4d;
  line-height: 18px;
  font-size: 13px;
}

.play-badge {
  width: 140px;
  height: auto;
  margin-top: 5px;
}

/* -------------------------------------- */
/* CLOSE BUTTON */
/* -------------------------------------- */
.mobile-offcanvas .btn-close {
  filter: brightness(0) invert(0.3); /* soft grey */
  opacity: 1;
  margin-right: -30px;
}

.dropdown-content {
  overflow: hidden;
  transition: all 0.3s ease;
  background: #faf7ff;
  border-bottom: 1px solid #efe5f8;
}

.dropdown-content > div {
  padding: 12px 85px;
  cursor: pointer;
  border-bottom: 1px solid #f3edf9;
  font-size: 16px;
  color: #050000;
  font-weight: 600;
}

.dropdown-content > div:hover {
  background: #f0e8ff;
}
.rotate-dropdown {
  transform: rotate(180deg);
  transition: 0.3s;
}
.app-box {
  background: #ffffff;
  border: 1px solid #e8e8e8;
  padding: 18px 20px;
  margin: 20px;
  border-radius: 8px;
}

.app-box .app-title {
  font-size: 18px;
  font-weight: 700;
  color: #2c174d;
  margin-bottom: 6px;
}

.app-box .app-desc {
  color: #525252;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 12px;
}

.google-play-badge {
  width: 150px;
  height: auto;
}
@media (max-width:500px) {
  .mobile-offcanvas.offcanvas-end {
  width: 330px !important;
  max-width: 470px !important;
}

}