.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #172c48;
  color: #fff;
  padding: 50px 140px;
  flex-wrap: wrap;
  z-index: 50;
}

.footer-left {
  width: 48%;
}

.footer-title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 15px;
}

.footer-text {
  line-height: 1.5;
  opacity: 0.7;
}

.footer-social svg {
  font-size: 20px;
  margin-right: 20px;
  position: relative;
  top: -20px;
  cursor: pointer;
}

p6{
  font-size: 12px;
  font-weight: 600;
}

.footer-contact h4 {
  margin-top: 0px;
  font-size: 16px;
  font-weight: bold;
}

.footer-contact p {
  margin:0;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}

.footer-links,
.footer-policy {
  width: 20%;
}

.footer-links h3,
.footer-policy h3 {
  margin-bottom: 30px;
  font-family: 'Playfair Display',serif;
  color: rgb(214, 86, 40);
  font-size: 24px;
  font-weight: 200;
}

.footer-links ul,
.footer-policy ul {
  list-style: none;
  padding: 0;
}

.footer-links li,
.footer-policy li {
  margin-bottom: 8px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 15px;
}

.footer-wave{
  width: 100%;
  margin-top: -50px;
  z-index: 1;
}

.copy-right{
  font-family: 'Playfair Display',serif;
  font-size: 14px;
  color: #172c48;
}

/* Responsive */
@media (max-width: 1200px) {
  .footer {
    flex-direction: column;
    padding: 40px;
  }
  .footer-wave{
    margin-top: 20px;
  }

  .footer-left,
  .footer-links,
  .footer-policy {
    width: 100%;
    margin-bottom: 30px;
  }
}
