.testimonial-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  padding: 60px 0;
  width: 100%;
  flex-wrap: wrap;
}

.testimonial-card {
  width: 360px;
  background: #fff;
  border-radius: 12px;
  padding: 15px 10px;
  text-align: center;
  box-shadow: 2px 2px 8px 3px rgba(0, 0, 0, 0.08);
}

.profile-img {
  width: 90px;
  height: 90px;
  border-radius: 40%;
  object-fit: cover;
  margin-top: -60px;
  border: 5px solid #fff;
}

.name {
  margin-top: 15px;
  font-size: 22px;
  font-weight: 700;
  font-family: 'Playfair Display',serif;
}

.location {
  color: #bb3eb0;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 10px;
}
h5{
    font-size: 17px;
    font-weight: 400;
}

.stars {
  margin: 10px 0;
}

.star {
  color: #ccc;
  font-size: 30px;
}

.star.active {
  color: #f6b800;
}

.text {
  font-size: 17px;
  color: #1a1818;
  line-height: 1.6;
  margin-top: 10px;
  font-weight: 400;
  width: 91%;
  position: relative;
  left: 10px;
}
 .test-section {
  text-align: left;        /* Ensures left alignment */
  padding: 0;
  padding-top: 0;
  position: relative;
  left: 60px;
}

.test-title {
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 0.1px;
  margin-bottom: 20px;
  color: #000;
  font-family: "Playfair Display", serif;
}

.test-description {
  font-size: 17px;
  line-height: 1.6;
  color: #444;
  max-width: 800px;        /* Keeps text in a neat readable width */
}
@media (max-width:500px) {
  .fleett-testcription{
    position: relative;
    left: -50px;
  }
  .align{
    position: relative;
    left: -50px;
    width: 60%;
  }
  .testimonial-card {
  width: 210px;
  background: #fff;
  border-radius: 12px;
  padding: 15px 0px;
  text-align: center;
  box-shadow: 2px 2px 8px 3px rgba(0, 0, 0, 0.08);
}
}
@media (max-width:1000px) {
  .testimonial-card{
    width: 95%;
    position: relative;
    top: -30px;

  }
  .test-title {
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 0.1px;
  margin-bottom: 20px;
  color: #000;
  position: relative;
  top: -30px;
  right: 106px;
  font-family: "Playfair Display", serif;
}

.test-description {
  font-size: 14px;
  line-height: 1.6;
  position: relative;
  top: -40px;
  right: 106px;
  color: #444;
  max-width:700px;        /* Keeps text in a neat readable width */
}
}