
.itinerary-container {
  padding: 40px 0;
  width: 82%;
  margin: 0 auto;        /* Centers container */
  position: relative;
  border-radius: 10px;
}

/* HEADER ALIGNMENT */
.itinerary-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.slick-imgg {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 8px;
}

/* LEFT TEXT AREA */
.itinerary-left {
  display: flex;
  flex-direction: column;
}

.itinerary-title {
  font-size: 32px;
  font-weight: 600;
  margin: 0;
  color: #222;
  font-family: "Playfair Display", serif;
}

.itinerary-filter {
  font-size: 17px;
  color: #a32aa8;
  margin-top: 6px;
  text-decoration: none;
  font-weight: 500;
}

/* VIEW ALL BUTTON */
.view-all-btn {
  background: linear-gradient(100deg, #9b309c, #e04c63);
  color: #fff;
  border: none;
  padding: 12px 24px;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

.view-all-btn:hover {
  opacity: 0.9;
}

/* Slick arrows outside */
.slick-prev {
  left:-40px;
}

.slick-next {
  right: -40px;
}


/* RESPONSIVE FIXES */
@media (max-width: 1500px) {
  .overlay-imgg {
    display: none;
  }
}

@media (max-width: 900px) {
  .slick-prev, .slick-next {
    display: none;
  }
}

@media (max-width: 800px) {
  .itinerary-container {
    width: 98%;
    margin: 0 auto;  /* keep centered */
  }
  .slick-imgg{
    height: 200px;
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .itinerary-container {
    width: 92%;
  }
}
